/* Screens Resolution : 1344px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1344px) {
  /* ---------------------------------
	3. RIGHT SECTION
	--------------------------------- */

  .right-section {
    width: 60%;
  }

  /* ---------------------------------
	4. LEFT SECTION
	--------------------------------- */

  .left-section {
    width: 40%;
  }
}

/* Screens Resolution : 1080px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1080px) {
  /* ---------------------------------
	  3. RIGHT SECTION
	  --------------------------------- */

  .right-section {
    width: 50%;
  }

  /* ---------------------------------
	  4. LEFT SECTION
	  --------------------------------- */

  .left-section {
    width: 50%;
  }
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
  /* ---------------------------------
	  3. RIGHT SECTION
	  --------------------------------- */

  .right-section {
    display: none;
  }

  /* ---------------------------------
	  4. LEFT SECTION
	  --------------------------------- */

  .left-section {
    width: 100%;
  }
}
